.banner {
  position: relative;
  top: 56px;
  width: 100%;
}
.container {
  position: relative;
  top: 56px;
}
.container h3 {
  color: #fa8072;
  font-size: 20px;
}
.container h3 small {
  font-size: 14px;
  color: #777;
}
.container p,
.container li {
  font-size: 14px;
}
.container .card1 {
  margin-top: 60px;
}
.container img {
  width: 100%;
}
@media (max-width: 768px) {
  .container .card1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
