.container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.container h5 {
  font-size: 16px;
}
.container h2 {
  color: #fa8072;
  font-size: 20px;
}
.container h2 small {
  font-size: 14px;
  color: #777;
}
.container img {
  height: 80px;
}
.container .quantity input[type='button'],
.container .quantity input[type='text'] {
  height: 30px;
}
.container .quantity input[type='button'] {
  width: 15px;
}
.container .quantity input[type='text'] {
  width: 30px;
}
