.banner {
  position: relative;
  top: 56px;
  width: 100%;
}
.container {
  position: relative;
  top: 56px;
  margin-bottom: 100px;
}
.container img {
  width: 100%;
}
.container h2 {
  color: #fa8072;
  font-size: 20px;
}
.container h2 small {
  font-size: 14px;
  color: #777;
}
.container h3 {
  color: #6d6d6d;
  font-size: 24px;
}
.container p {
  font-size: 14px;
}
.container form {
  font-size: 14px;
}
.container input {
  width: 100%;
  height: 34px;
}
