@charset "utf-8";

/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: beige;
    font-family: Microsoft JhengHei;
}

#wrapper {
    margin: 0px auto;
    width: 1024px;
}


/*header*/

#logo {
    height: 250px;
}

nav {
    background-color: #B63D32;
    text-align: center;
}

ul {
    display: inline-block;
    margin: 0px;
}

li {
    list-style-type: none;
    float: left;
    text-align: center;
}

li a {
    display: block;
    padding: 15px 20px;
    color: #FFFFFF;
    text-decoration: none;
}

li a:hover {
    color: #FFC90E;
}


/*sidebar*/

#sidebar {
    width: 250px;
    height: 350px;
    float: left;
    background-color: #FFE634;
}

#sidebar ul {
    margin-left: 65px;
    margin-top: 30px;
}

#sidebar li {
    float: none;
}

#sidebar li a {
    color: #000000;
    padding: 10px 20px;
    border-style: solid;
    border-color: #B63D32;
    margin: 10px;
}

#sidebar li a:hover {
    color: #FFFFFF;
    border-color: #FFFFFF;
}


/*content*/

#content {
    height: 350px;
    float: left;
    width: 774px;
    background-color: #F4F4ED;
}

#content_in {
    padding: 30px 50px;
}

#content h1 {
    color: #B63D32;
    margin-bottom: 10px;
}

#content p {
    font-size: 15px;
    margin-bottom: 20px;
}


/*footer*/

footer {
    clear: both;
    background-color: #71552A;
    text-align: center;
}

footer p {
    font-size: 10px;
    color: #FFFFFF;
    padding: 10px 0px;
}
