body {
    font-family: Microsoft JhengHei;
    color: #949494;
}


/*header*/

#about {
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-attachment: scroll, scroll;
    background-repeat: repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    position: fixed;
    height: 100%;
}

#inner {
    position: relative;
    top: 90px;
    right: 0px;
    text-align: right;
}

#photo {
    display: inline-block;
    width: 120px;
}

h5 {
    margin:40px 0px ;
    color: rgba(255, 255, 255, 0.5);
}


/*content*/

h3 {
    margin-top: 100px;
    color: #787878;
}

p {
    line-height: 26px;
    margin-bottom: 30px;
}

.col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
}

.col-md-6 img {
    width: 95%;
    margin-bottom: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 991px) {
    #about {
        background-attachment: fixed,fixed;
        position: static;
        padding-bottom: 10%;
    }
    #inner {
        top: 50px;
        text-align: center;
    }
    #photo {
        margin: 0 auto;
    }
    h3 {
        margin-top: 30px;
    }
}
